.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
}

.App-header {
  background-color: #282c34;
  max-height: 400px;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.courseRow{

}
.awsCourse{
color: red;
}
.courseColom{
padding: 10px;
}
.courseHeader{
  color:blue;
  margin-top: 10px;
  text-align: left;
}
.courseParagraph{
  margin-top: 10px;
  text-align: left;
}
